
html,
body {
  height: 100%;
  background-color:rgb(60, 221, 133);
}

body {
  margin: 0;

  font-family: sans-serif;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;

  height: 100%;
}

/*

Header Here

*/

header {
  border-bottom: 0.5px dotted black;
  color: gainsboro;
  background-color: rgb(50, 171, 173);
}

.loge__and_title {
  display: flex;
  flex-direction: row;
}

.logo {
  align-self: flex-start;

  aspect-ratio: 1 / 1;
  width: 50px;
  height: 50px;
}

.header__title {
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;

  height: 3rem;

  background-color: rgb(39, 194, 90);

}

.menu_button {
  border: none;
  height: 100%;
  width: 6rem;

  background: rgb(14, 135, 95);
  color: white;
  font-size: larger;

  cursor: pointer;
}


nav ul {
  max-width: 0;
  height: 3rem;
  margin: 0 0 0 0.5rem;
  padding: 0;

  overflow: hidden;

  background-color: rgb(45, 148, 107);

  list-style: none;
}

.nav_menu li {
  display: inline-block;

  padding: 1rem;
  width: 6rem;

  background-color: rgb(81, 195, 172);
  text-align: center;
}

.nav_menu li a {
  color: white;
  text-decoration: none;
}



.open {
  max-width: initial;
}


/*

Main Here

*/
.main__title {
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 1rem;

  background-color: rgb(14, 188, 118);
}

.card__title {
  text-align: center;
}

.card__pic {
  aspect-ratio: 1 / 1;
  width: 80%;
  border-radius: 1rem;
}

.card__text {
  margin: 1rem;

  font-size: 1rem;
}

.card__cta {
  display: block;

  padding: 1rem;
  margin: 1rem;
  border: 1px solid rgb(26, 157, 26);
  border-radius: 1rem;

  background-color: rgb(33, 168, 33);
  color: white;

  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

/*

Footer Here

*/

footer {
  padding: 1rem;

  border-top: 0.5px dotted black;

  background-color: rgb(13, 90, 68);
}
.footer1{
  text-decoration: none;
  color: aliceblue;
}




@media screen and (min-width: 50rem) {
  .cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .card {
    grid-column: span 4;
  }
}